@import url('variables.css');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: var(--main-color);
    font-family: "Roboto", sans-serif;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Or whatever height you prefer */
    text-align: center;
  }  

/* Adjust the padding for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .about_content {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.name {
    font-size: 2em;
    text-align: center;
    width: 100%;
}
