body {
    margin: 0;
    background-color: var(--main-color);
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    flex-direction: column;
}

.name {
    font-size: 2em;
    text-align: center;
    width: 100%;
}

